{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "exportHistory": true,
      "history": []
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "assets/scss/about-us.scss",
        "config": {
          "autoCompile": false,
          "customOutput": "assets\\css\\pages\\about-us.css"
        }
      },
      {
        "file": "assets/scss/add-real-estate.scss",
        "config": {
          "autoCompile": false,
          "customOutput": "assets\\css\\pages\\add-real-estate.css"
        }
      },
      {
        "file": "assets/scss/be-host.scss",
        "config": {
          "autoCompile": false,
          "customOutput": "assets\\css\\pages\\be-host.css"
        }
      },
      {
        "file": "assets/scss/complete-reservation.scss",
        "config": {
          "autoCompile": false,
          "customOutput": "assets\\css\\pages\\complete-reservation.css"
        }
      },
      {
        "file": "assets/scss/home.scss",
        "config": {
          "autoCompile": false,
          "customOutput": "assets\\css\\pages\\home.css"
        }
      },
      {
        "file": "assets/scss/map.scss",
        "config": {
          "autoCompile": false,
          "customOutput": "assets\\css\\pages\\map.css"
        }
      },
      {
        "file": "assets/scss/messages.scss",
        "config": {
          "autoCompile": false,
          "customOutput": "assets\\css\\pages\\messages.css"
        }
      },
      {
        "file": "assets/scss/my-booking.scss",
        "config": {
          "autoCompile": false,
          "customOutput": "assets\\css\\pages\\my-booking.css"
        }
      },
      {
        "file": "assets/scss/my-favorite.scss",
        "config": {
          "autoCompile": false,
          "customOutput": "assets\\css\\pages\\my-favorite.css"
        }
      },
      {
        "file": "assets/scss/notifications.scss",
        "config": {
          "customOutput": "assets\\css\\pages\\notifications.css"
        }
      },
      {
        "file": "assets/scss/privacy-terms.scss",
        "config": {
          "autoCompile": false,
          "customOutput": "assets\\css\\pages\\privacy-terms.css"
        }
      },
      {
        "file": "assets/scss/real-estate-page.scss",
        "config": {
          "autoCompile": false,
          "customOutput": "assets\\css\\pages\\real-estate-page.css"
        }
      },
      {
        "file": "assets/scss/search-results.scss",
        "config": {
          "autoCompile": false,
          "customOutput": "assets\\css\\pages\\search-results.css"
        }
      },
      {
        "file": "assets/scss/style.scss",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "assets/scss/user-profile.scss",
        "config": {
          "autoCompile": false,
          "customOutput": "assets\\css\\pages\\user-profile.css"
        }
      },
      {
        "file": "pug/about-us-old.pug",
        "config": {
          "customOutput": "about-us-old.html"
        }
      },
      {
        "file": "pug/about-us.pug",
        "config": {
          "customOutput": "about-us.html"
        }
      },
      {
        "file": "pug/add-real-estate.pug",
        "config": {
          "customOutput": "add-real-estate.html"
        }
      },
      {
        "file": "pug/be-host.pug",
        "config": {
          "customOutput": "be-host.html"
        }
      },
      {
        "file": "pug/complete-reservation.pug",
        "config": {
          "customOutput": "complete-reservation.html"
        }
      },
      {
        "file": "pug/dashboard/account-summary.pug",
        "config": {
          "customOutput": "dashboard\\account-summary.html"
        }
      },
      {
        "file": "pug/dashboard/add-complex.pug",
        "config": {
          "customOutput": "dashboard\\add-complex.html"
        }
      },
      {
        "file": "pug/dashboard/add-real-estate.pug",
        "config": {
          "customOutput": "dashboard\\add-real-estate.html"
        }
      },
      {
        "file": "pug/dashboard/affiliate.pug",
        "config": {
          "customOutput": "dashboard\\affiliate.html"
        }
      },
      {
        "file": "pug/dashboard/blocked-you.pug",
        "config": {
          "customOutput": "dashboard\\blocked-you.html"
        }
      },
      {
        "file": "pug/dashboard/bookings-booking-info.pug",
        "config": {
          "customOutput": "dashboard\\bookings-booking-info.html"
        }
      },
      {
        "file": "pug/dashboard/bookings-coming-guests.pug",
        "config": {
          "customOutput": "dashboard\\bookings-coming-guests.html"
        }
      },
      {
        "file": "pug/dashboard/bookings-latest.pug",
        "config": {
          "customOutput": "dashboard\\bookings-latest.html"
        }
      },
      {
        "file": "pug/dashboard/bookings-payment-info.pug",
        "config": {
          "customOutput": "dashboard\\bookings-payment-info.html"
        }
      },
      {
        "file": "pug/dashboard/bookings.pug",
        "config": {
          "customOutput": "dashboard\\bookings.html"
        }
      },
      {
        "file": "pug/dashboard/calender-estate.pug",
        "config": {
          "customOutput": "dashboard\\calender-estate.html"
        }
      },
      {
        "file": "pug/dashboard/calender.pug",
        "config": {
          "customOutput": "dashboard\\calender.html"
        }
      },
      {
        "file": "pug/dashboard/complaints.pug",
        "config": {
          "customOutput": "dashboard\\complaints.html"
        }
      },
      {
        "file": "pug/dashboard/copy-estate.pug",
        "config": {
          "customOutput": "dashboard\\copy-estate.html"
        }
      },
      {
        "file": "pug/dashboard/discount-add.pug",
        "config": {
          "customOutput": "dashboard\\discount-add.html"
        }
      },
      {
        "file": "pug/dashboard/discount.pug",
        "config": {
          "customOutput": "dashboard\\discount.html"
        }
      },
      {
        "file": "pug/dashboard/host-proposals.pug",
        "config": {
          "customOutput": "dashboard\\host-proposals.html"
        }
      },
      {
        "file": "pug/dashboard/host-protection-add-claims.pug",
        "config": {
          "customOutput": "dashboard\\host-protection-add-claims.html"
        }
      },
      {
        "file": "pug/dashboard/host-protection-claims.pug",
        "config": {
          "customOutput": "dashboard\\host-protection-claims.html"
        }
      },
      {
        "file": "pug/dashboard/host-protection-program.pug",
        "config": {
          "customOutput": "dashboard\\host-protection-program.html"
        }
      },
      {
        "file": "pug/dashboard/host-protection.pug",
        "config": {
          "customOutput": "dashboard\\host-protection.html"
        }
      },
      {
        "file": "pug/dashboard/index.pug",
        "config": {
          "customOutput": "dashboard\\index.html"
        }
      },
      {
        "file": "pug/dashboard/layout.pug",
        "config": {
          "autoCompile": false,
          "customOutput": "dashboard\\layout.html"
        }
      },
      {
        "file": "pug/dashboard/messages.pug",
        "config": {
          "customOutput": "dashboard\\messages.html"
        }
      },
      {
        "file": "pug/dashboard/my-estate.pug",
        "config": {
          "customOutput": "dashboard\\my-estate.html"
        }
      },
      {
        "file": "pug/dashboard/my-reservations.pug",
        "config": {
          "customOutput": "dashboard\\my-reservations.html"
        }
      },
      {
        "file": "pug/dashboard/prices-add-holiday.pug",
        "config": {
          "customOutput": "dashboard\\prices-add-holiday.html"
        }
      },
      {
        "file": "pug/dashboard/prices-add-offers.pug",
        "config": {
          "customOutput": "dashboard\\prices-add-offers.html"
        }
      },
      {
        "file": "pug/dashboard/prices-add-vacation.pug",
        "config": {
          "customOutput": "dashboard\\prices-add-vacation.html"
        }
      },
      {
        "file": "pug/dashboard/prices-complex.pug",
        "config": {
          "customOutput": "dashboard\\prices-complex.html"
        }
      },
      {
        "file": "pug/dashboard/prices-holiday.pug",
        "config": {
          "customOutput": "dashboard\\prices-holiday.html"
        }
      },
      {
        "file": "pug/dashboard/prices-offers.pug",
        "config": {
          "customOutput": "dashboard\\prices-offers.html"
        }
      },
      {
        "file": "pug/dashboard/prices-vacation.pug",
        "config": {
          "customOutput": "dashboard\\prices-vacation.html"
        }
      },
      {
        "file": "pug/dashboard/prices.pug",
        "config": {
          "customOutput": "dashboard\\prices.html"
        }
      },
      {
        "file": "pug/dashboard/ratings-guests-rate.pug",
        "config": {
          "customOutput": "dashboard\\ratings-guests-rate.html"
        }
      },
      {
        "file": "pug/dashboard/ratings-your-rating.pug",
        "config": {
          "customOutput": "dashboard\\ratings-your-rating.html"
        }
      },
      {
        "file": "pug/dashboard/ratings.pug",
        "config": {
          "customOutput": "dashboard\\ratings.html"
        }
      },
      {
        "file": "pug/dashboard/settings-access-suspension.pug",
        "config": {
          "customOutput": "dashboard\\settings-access-suspension.html"
        }
      },
      {
        "file": "pug/dashboard/settings-account-managers.pug",
        "config": {
          "customOutput": "dashboard\\settings-account-managers.html"
        }
      },
      {
        "file": "pug/dashboard/settings-add-access-suspension.pug",
        "config": {
          "customOutput": "dashboard\\settings-add-access-suspension.html"
        }
      },
      {
        "file": "pug/dashboard/settings-add-manager.pug",
        "config": {
          "customOutput": "dashboard\\settings-add-manager.html"
        }
      },
      {
        "file": "pug/dashboard/settings-booking-add-discounts.pug",
        "config": {
          "customOutput": "dashboard\\settings-booking-add-discounts.html"
        }
      },
      {
        "file": "pug/dashboard/settings-booking-add-nights-discounts.pug",
        "config": {
          "customOutput": "dashboard\\settings-booking-add-nights-discounts.html"
        }
      },
      {
        "file": "pug/dashboard/settings-booking-add-period-discounts.pug",
        "config": {
          "customOutput": "dashboard\\settings-booking-add-period-discounts.html"
        }
      },
      {
        "file": "pug/dashboard/settings-booking-conditions.pug",
        "config": {
          "customOutput": "dashboard\\settings-booking-conditions.html"
        }
      },
      {
        "file": "pug/dashboard/settings-booking-discounts.pug",
        "config": {
          "customOutput": "dashboard\\settings-booking-discounts.html"
        }
      },
      {
        "file": "pug/dashboard/settings-return-policy.pug",
        "config": {
          "customOutput": "dashboard\\settings-return-policy.html"
        }
      },
      {
        "file": "pug/dashboard/settings-time-in-out.pug",
        "config": {
          "compileImported": true,
          "customOutput": "dashboard\\settings-time-in-out.html"
        }
      },
      {
        "file": "pug/dashboard/settings-value-added-tax.pug",
        "config": {
          "customOutput": "dashboard\\settings-value-added-tax.html"
        }
      },
      {
        "file": "pug/dashboard/transactions-account-statements.pug",
        "config": {
          "customOutput": "dashboard\\transactions-account-statements.html"
        }
      },
      {
        "file": "pug/dashboard/transactions-accounts-summary.pug",
        "config": {
          "customOutput": "dashboard\\transactions-accounts-summary.html"
        }
      },
      {
        "file": "pug/dashboard/transactions-duration-transfer.pug",
        "config": {
          "customOutput": "dashboard\\transactions-duration-transfer.html"
        }
      },
      {
        "file": "pug/dashboard/transactions-estate-booking-summary.pug",
        "config": {
          "customOutput": "dashboard\\transactions-estate-booking-summary.html"
        }
      },
      {
        "file": "pug/dashboard/transactions-estate-booking.pug",
        "config": {
          "customOutput": "dashboard\\transactions-estate-booking.html"
        }
      },
      {
        "file": "pug/dashboard/transactions-estate-summary.pug",
        "config": {
          "customOutput": "dashboard\\transactions-estate-summary.html"
        }
      },
      {
        "file": "pug/dashboard/transactions-invoices-info.pug",
        "config": {
          "customOutput": "dashboard\\transactions-invoices-info.html"
        }
      },
      {
        "file": "pug/dashboard/transactions-invoices.pug",
        "config": {
          "customOutput": "dashboard\\transactions-invoices.html"
        }
      },
      {
        "file": "pug/dashboard/transactions-method-receiving.pug",
        "config": {
          "customOutput": "dashboard\\transactions-method-receiving.html"
        }
      },
      {
        "file": "pug/dashboard/transactions-transfers.pug",
        "config": {
          "compileImported": true,
          "customOutput": "dashboard\\transactions-transfers.html"
        }
      },
      {
        "file": "pug/dashboard/weekly-reports-report.pug",
        "config": {
          "customOutput": "dashboard\\weekly-reports-report.html"
        }
      },
      {
        "file": "pug/dashboard/weekly-reports.pug",
        "config": {
          "customOutput": "dashboard\\weekly-reports.html"
        }
      },
      {
        "file": "pug/favorites.pug",
        "config": {
          "customOutput": "favorites.html"
        }
      },
      {
        "file": "pug/host-profile.pug",
        "config": {
          "customOutput": "host-profile.html"
        }
      },
      {
        "file": "pug/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "pug/map.pug",
        "config": {
          "customOutput": "map.html"
        }
      },
      {
        "file": "pug/messages.pug",
        "config": {
          "customOutput": "messages.html"
        }
      },
      {
        "file": "pug/my-booking.pug",
        "config": {
          "customOutput": "my-booking.html"
        }
      },
      {
        "file": "pug/my-favorite.pug",
        "config": {
          "customOutput": "my-favorite.html"
        }
      },
      {
        "file": "pug/new-user-profile-setting.pug",
        "config": {
          "customOutput": "new-user-profile-setting.html"
        }
      },
      {
        "file": "pug/notifications.pug",
        "config": {
          "customOutput": "notifications.html"
        }
      },
      {
        "file": "pug/privacy-policy.pug",
        "config": {
          "customOutput": "privacy-policy.html"
        }
      },
      {
        "file": "pug/real-estate-page.pug",
        "config": {
          "customOutput": "real-estate-page.html"
        }
      },
      {
        "file": "pug/search-results.pug",
        "config": {
          "customOutput": "search-results.html"
        }
      },
      {
        "file": "pug/terms-of-service.pug",
        "config": {
          "customOutput": "terms-of-service.html"
        }
      },
      {
        "file": "pug/user-profile-payment.pug",
        "config": {
          "customOutput": "user-profile-payment.html"
        }
      },
      {
        "file": "pug/user-profile-setting.pug",
        "config": {
          "compileImported": true,
          "customOutput": "user-profile-setting.html"
        }
      }
    ]
  }
}
