// import global style from style.css
@use "style";

// import varibles & mixins
@use "includes/varibles.scss" as *;
@use "includes/mixins" as *;


/*********************************************************************
************************ Style About Us page  ************************
*********************************************************************/

#content.user-profile {
    padding-bottom: 40px;

    @media(max-width: 991px) {
        padding-bottom: 20px;
    }
}


/*********************** Start style profile-header **************************/

#content.user-profile section.profile-header {
    margin: 32px 0 20px;

    .box {
        @include flex(32px);
        justify-content: space-between;

        @media(max-width: 991px) {
            flex-direction: column;
        }
    }

    .user-info {
        flex-grow: 1;
        @include flex(16px);

        @media(max-width: 991px) {
            flex-direction: column;
            text-align: center;
        }

        .image img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            max-width: 100%;
            object-fit: cover;
            object-position: top;
        }

        .content {
            h2 {
                @include font-color(21px, 500, 32px, $black-color);
                margin-bottom: 8px;
            }

            .user-data {
                @include flex(20px);

                @media(max-width: 767px){
                    gap: 4px 20px;
                    flex-wrap: wrap;
                    justify-content: center;
                }

                > section {
                    @include flex(6px);
                }

                .number {
                    @include font-color(16px, 600, 30px, $main-color);
                }

                .data {
                    @include font-color(12px, 400, 23px, $black-color);
                }
            }
        }
    }

    .add-real-estate {
        flex-shrink: 0;
        width: 400px;
        max-width: 100%;
        border: 1px solid #ECECEC;
        border-radius: 16px;
        padding: 12px 16px;
        @include flex(32px);
        justify-content: space-between;

        @media(max-width: 1199px) {
            width: 350px;
        }

        @media(max-width: 991px) {
            width: 400px;
        }

        @media(max-width: 575px) {
            gap: 16px;
            padding: 8px 12px;

            .main-button {
                padding: 6px 12px;
                font-size: 12px;
            }
        }

        h3 {
            @include font-color(16px, 500, 30px, $main-color);
            margin-bottom: 2px;
        }

        p {
            @include font-color(12px, 400, 23px, $text-color); 
        }
    }

}

/*********************** End style profile-header ***************************/

/*********************** Start style profile-navbar **************************/

#content.user-profile section.profile-navbar {
    margin: 20px 0 32px;

    .navbar-nav {
        @include flex(32px);
        flex-direction: unset;
        border-bottom: 1px solid #D6D6D6;

        .nav-link {
            @include font-color(14px, 600, 26px, $text-color);
            display: block;
            padding-bottom: 6px !important;
            transition: $main-transition;

            &.active {
                color: $second-color;
                border-bottom: 2px solid $second-color
            }

            &:hover {
                color: $second-color
            }
        }
    }
}

/*********************** End style profile-navbar ***************************/

/*********************** Start style user-form-info**************************/

#content.user-profile section.user-form-info {
    margin: 32px 0;

    form {
        width: 350px;
        max-width: 100%;

        .feild {
            margin-bottom: 16px;

            label {
                @include font-color(12px, 500, 23px, $text-color);
                display: block;
                margin-bottom: 6px;
            }

            input {
                @include font-color(13px, 500, 23px, $black-color);
                display: block;
                width: 100%;
                border: none;
                outline: none;
                background-color: #ECECEC;
                border-radius: 8px;
                padding: 14px 8px;
                direction: rtl;
            }
        }

        .second-button {
            margin-top: 32px;
        }
    }
}

/*********************** End style user-form-info***************************/

/*********************** Start style payment-info **************************/

#content.user-profile section.payment-info {
    margin: 16px 0;

    .box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media(max-width: 767px) {
            flex-direction: column-reverse;
            gap: 32px;
        }
    }

    .content {
        width: 350px;
        max-width: 100%;

        @media(max-width: 767px) {
            width: 100%;
        }
        
        h2 {
            @include font-color(16px, 600, 30px, $black-color);
            margin-bottom: 12px;
        }

        .all-transactions {
            @include srcolling-section(360px);

            .transaction {
                border: 1px solid #D6D6D6;
                border-radius: 8px;
                padding: 12px;

                &:not(:last-child) {
                    margin-bottom: 12px;
                }

                .info {
                    @include font-color(14px, 400, 26px, $text-color);
                    margin-bottom: 2px;

                    .transaction-id {
                        color: $black-color;
                        font-weight: 600;
                    }
                }

                .cost {
                    @include flex(16px);
                    justify-content: space-between;

                    .money {
                        @include font-color(14px, 600, 26px, $main-color);

                        .currency {
                            font-size: 10px;
                            line-height: 19px
                        }
                    }

                    .status {
                        @include font-color(10px, 600, 19px, $main-color);
                    }
                }
            }
        }
    }

    .account-balance {
        width: 325px;
        max-width: 100%;
        text-align: center;
        color: white;
        background: transparent linear-gradient(118deg, #E30D73 0%, #462777 100%) 0% 0% no-repeat padding-box;
        border-radius: 16px;
        padding: 32px;
        margin-top: 42px;

        @media(max-width: 767px) {
            width: 100%;
            margin-top: 0;
            padding: 20px;
        }

        .balance {
            display: flex;
            gap: 4px;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 12px;

            .number {
                @include font(36px, 500, 68px);
            }

            .currency {
                @include font(16px, 500, 56px);
            }
        }

        p {
            @include font(10px, 400, 19px);
        }
    }
}

/*********************** End style payment-info ***************************/


/*********************** Start style personal-data **************************/

#content.user-profile section.personal-data {
    margin: 32px 0;

    form {
        width: 350px;
        max-width: 100%;

        p {
            @include font-color(14px, 500, 26px, $black-color);
            margin-bottom: 24px;
        }

        input:not([type="radio"], [type="chackbox"]) {
            @include font-color(14px, 500, 26px, $black-color);
            display: block;
            width: 100%;
            outline: none;
            border: 1px solid #D6D6D6;
            border-radius: 8px;
            padding: 12px 16px;
            direction: rtl;
            caret-color: $main-color;
        }


        .accordion-item {
            border: none;
            margin-bottom: 16px;

            label {
                @include flex(12px);
                @include font-color(14px, 600, 26px, $black-color);
            }

            input[type="radio"] {
                box-shadow: none;
                width: 20px;
                height: 20px;
                border: 1px solid #CCCCCC;

                &:checked {
                    border: none;
                    background-color: $main-color;
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
                }
            }

            .accordion-collapse {
                padding-top: 12px;
            }
        }
        
        .feiled {
            margin: 24px 0;

            label {
                @include font-color(12px, 500, 23px, $text-color);
                display: block;
                margin-bottom: 4px;
            }
        }

    }
}

/*********************** End style personal-data ***************************/
