$main-color       : var(--main-color);
$second-color     : var(--second-color);
$black-color      : var(--black-color);
$text-color       : var(--text-color);
$background-color : var(--background-color);
$border-color     : var(--border-color);
$main-space       : var(--main-space);
$main-transition  : var(--main-transition);